.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 42px);
    background-color: var(--paletteColor2);
    padding: 42p;
    

    & .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 342px;
        width: 100%;
        border: 1px solid #e5e5e5;
        box-shadow: 0 5px 25px hsla(0,0%,84.3%,.5);
        border-radius: 3px;
        padding: 10px 12px;

        & .headerForm {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 15px;
        }
        & div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            & h1 {
                font-size: 45px;
                font-weight: 700;
            }

            & h2 {
                font-family: Tahoma,Roboto,Helvetica,sans-serif;
                font-weight: 700;
                line-height: 1.25em;
            }
            
            & .inputWrapper {
                display: flex;
                flex-direction: column;
                
                & .inputLabel {
                    width: 100%;
                    font-size: 14px;
                    color: var(--paletteColor1);
                    padding-bottom: 5px;
                }

                & .inputPasswordWrapper {
                    position:relative;
                }
                & .inputPassword {
                    position:absolute;
                    width: 100%;
                    display:block
                }

                & .resetPassword {
                    position:absolute;
                    top:10px;
                    right:10px;
                }
            }
            
            & input {
                width: 100%;
                height: 34px;
                margin: 0 0 20px;
                padding: 8px 10px;
                border: 1px solid var(--paletteColor14);                
                outline: none;
                color: var(--paletteColor15);
                font-size: 14px;
                transition: border 0.3s ease, box-shadow 0.3s ease;

                &[type='checkbox'] {
                    width: auto;
                    margin: 0 10px;
                }

                &[type='file'] {
                    border: 1px solid black;
                    margin: 20px 0;
                    cursor: pointer;
                }

                &:focus {
                    border-color: var(--paletteColor7);
                    box-shadow: 0 5px 6px -6px;
                }
            }

            & .invalidInput {
                border: 1px solid red;

                &:focus {
                    border: 1px solid crimson;
                    box-shadow: 0 5px 6px -6px var(--paletteColor25);
                }
            }

            & button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 186px;
                margin-bottom: 20px;
                outline: 0;
                border-radius: 3px;
                border: none;
                color: var(--paletteColor2);
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.3s ease;
                padding: 10px 0px;
                position: relative;
                margin-top: 50px;
            }

            & .loginSubmit,
            & .profileSubmit {
                background-color: var(--paletteColor6);

                &:hover {
                    border-color: var(--paletteColor7);
                    background-color: var(--paletteColor7);
                    box-shadow: 0 3px 3px -1px var(--paletteColor5);
                }
            }

            & .signupSubmit {
                border: 1px solid;
                border-color: var(--paletteColor18) var(--paletteColor18) var(--paletteColor19);
                background: var(--gradient1);
                background-color: var(--paletteColor22);
                box-shadow: inset 0 1px 1px var(--paletteColor20);
                transition: box-shadow 0.5s ease;
                box-shadow: 0 3px 3px -1px transparent;

                &:hover {
                    box-shadow: 0 3px 3px -1px var(--paletteColor22);
                }
            }

            & .fileInput {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;

                & + label {
                    padding: 6px 12px;
                    font-size: 20px;
                    font-weight: 700;
                    color: var(--paletteColor8);
                    background-color: transparent;
                    border-radius: 7px;
                    border: 1px solid var(--paletteColor24);
                    cursor: pointer;
                    margin-bottom: 20px;
                    transition: background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.3s ease;
                }

                &:focus + label,
                & + label:hover {
                    box-shadow: 0 3px 3px -1px var(--paletteColor7);
                }
            }

            & i {
                position: relative;

                & .cancelUpdate {
                    position: absolute;
                    left: -30px;
                    width: 110px;
                    margin-top: 10px;
                    transition: color 0.2s ease-out;
                    color: var(--paletteColor5);
                    font-size: 10px;
                    cursor: pointer;

                    &:hover {
                        color: var(--paletteColor1);
                    }
                }
            }
        }
    }

    & .centered {
        justify-content: center;
        padding-bottom: 0;
    }

    & .disabledInput {
        & div {
            & input {
                background-color: var(--paletteColor3);
            }
        }
    }

    & .disabledInputRedux {
        background-color: var(--paletteColor3);
    }

    & .disabledButton {
        background-color: var(--paletteColor8);
    }

    & a {
        color: var(--paletteColor13);        
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;        
        text-decoration: none;

        &:hover {
            color: var(--paletteColor7);
        }
    }
}
