@import '../../../theme/palette';
@import '../../../theme/breakpoints';

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--paletteColor15);

    & img {
        max-width: calc(100vw - 30%);
        max-height: 600px;
        user-select: none;
        box-shadow: 0 2px 3px color-mod(var(--paletteColor1) alpha(80%));
        border: 2px solid wheat;
        margin-bottom: 10px;
        cursor: pointer;
    }

    & div {
        display: flex;
        justify-content: center;
        align-items: center;

        & button {
            display: flex;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            margin: 7px;
            border-radius: 7px;
            font-size: 20px;
            font-weight: 700;
            background-color: wheat;
            color: var(--paletteColor15);
            transition: border 0.1s ease-in, background-color 0.1s ease-in, color 0.1s ease-in;
            border: 1px solid black;

            &:hover {
                color: wheat;
                background-color: var(--paletteColor15);
                border: 1px solid currentColor;
            }
        }

        & .buttonActive {
            color: wheat;
            background-color: color-mod(var(--paletteColor15) tint(10%));
            border: 1px solid currentColor;
        }
    }

    @media (--phonePortrait) {
        & img {
            max-width: calc(100vw - 10%);
        }
    }

    @media (--phoneLandscape) {
        & img {
            max-width: calc(100vw - 15%);
        }
    }

    @media (--tabletPortrait) {
        & img {
            max-width: calc(100vw - 20%);
        }
    }

    @media (--tabletLandscape) {
        & img {
            max-width: calc(100vw - 20%);
        }
    }
}
