* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: roboto mono, roboto, system-ui;

    /* Зачаровать шрифты */
    font-smoothing: antialiased;
    font-variant-ligatures: none;

    /**
     * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
     * Префиксы установлены вручную, так как на момент 13.03.2018
     * autoprefixer этого не делал автоматически.
     */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    min-height: 100vh;

    & section {
        width: 100%;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
